{
  "parser": "typescript",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 110,
  "singleQuote": true,
  "bracketSpacing": false,
  "bracketSameLine": false,
  "semi": false,
  "proseWrap": "never"
}
